doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/bootstrap.css')
  body
    img(src='/assets/img/adventure.jpg')
    p= copy
    img(src='/assets/img/bridge.jpg')
    img(src='/assets/img/city.jpg')
    img(src='/assets/img/clock.jpg')
    img(src='/assets/img/flower.jpg')
    img(src='/assets/img/plant.jpg')
    img(src='/assets/img/fountain.jpg')
    img(src='/assets/img/lake.jpg')
    img(src='/assets/img/dude.jpg')
    img(src='/assets/img/bird.jpg')


