doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/bootstrap.css')
  body
    h1= title
    img(src='/assets/img/adventure.jpg')
    p= copy
    script(src="/assets/js/jquery.js")
    script(src="/assets/js/bootstrap.js")
